/* Archivo Estilos.css */

/* Se aplica directamente al elemento <body> */
body {
 color: blue;
}
/* Se aplica directamente a todos los elementos de tipo <p> */
p {
 color: red;
}

/* Se aplica en el(los) elemento(s) donde se use */
.clase-css {
 color: black;
}
